{
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  // To give you an idea how to override rule options:
  "rules": {
    "strict": 1,
    "semi": 1,
    "camelcase": 1,
    "no-use-before-define": 1,
    "comma-spacing": 1,
    "no-multi-spaces": 1,
    "curly": 1,
    "quotes": [1, "single"],
    "eol-last": [0],
    "no-mixed-requires": [1],
    "no-underscore-dangle": [0],
    "no-unused-vars": 1,
    "new-cap": 0,
    "no-trailing-spaces": 1
  },
  "globals": {
    "iget": true,
    "it": true,
    "expect": true,
    "describe": true,
    "jest": true,
    "createStoreWatchMixin": true,
    "nextTick": true,
    "React": true,
    "flux": true,
    "i18n": true,
    "jasmine": true,
    "__": true,
    "FluxMixin": true
  }
}
