//TODO update from https://github.com/airbnb/javascript/blob/master/linters/.eslintrc
{
    // I want to use babel-eslint for parsing!
    "parser": "babel-eslint",
    "env": {
        // I write for browser
        "browser": true,
        // in CommonJS
        "node": true,
        "mocha": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": false,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": false,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    // To give you an idea how to override rule options:
    "rules": {
        "camelcase": 1,
        "comma-dangle": [2, "never"],
        "comma-spacing": 1,
        "curly": [2, "multi-line"],
        "eol-last": [0],
        "new-cap": 0,
        "no-alert": 2,
        "no-cond-assign": [2, "always"],
        "no-console": 1,
        "no-constant-condition": 2,
        "no-debugger": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-ex-assign": 2,
        "no-mixed-requires": [2],
        "no-multi-spaces": 2,
        "no-shadow": 1,
        "no-shadow-restricted-names": 2,
        "no-trailing-spaces": 2,
        "no-underscore-dangle": [0],
        "no-unused-expressions": [1],
        "no-unused-vars": [1, {
            "vars": "all",
            "args": "after-used"
        }],
        "no-use-before-define": [2, "nofunc"],
        "no-var": 1,
        "semi": 2,
        "strict": [1, "never"],
        "quotes": [
            2,
            "single"
        ],
        "react/display-name": 0,
        "react/jsx-boolean-value": 2,
        "react/jsx-quotes": 2,
        "react/jsx-no-undef": 2,
        "react/jsx-sort-props": 0,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": 2,
        "react/no-multi-comp": 2,
        "react/no-unknown-property": 2,
        "react/prop-types": 2,
        "react/react-in-jsx-scope": 2,
        "react/self-closing-comp": 2,
        "react/wrap-multilines": 0
    },
    "globals": {
        "jest": true,
        "ga": true,
        "iget": true,
        "createStoreWatchMixin": true,
        "nextTick": true,
        "React": true,
        "flux": true,
        "i18n": true,
        "showError": true,
        "jasmine": true,
        "__": true,
        "assert": true,
        "FluxMixin": true
    }
}
