.c-panel-header {

    // elements
    &-- {
        &up, &down {
            margin-right: 0.5em;
        }

        .collapsed &up {
            display: none;
        }

        &up {
            display: inline;
        }

        &down {
            display: none;
        }

        .collapsed &down {
            display: inline;
        }
    }
}
//collapsed
