{
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "env": {
    // I write for browser
    "jasmine": true,
    // in CommonJS
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "globals": {
    "expect": true,
    "browser": true,
    "element": true,
    "By": true,
    "beforeEach": true
  }
}
