{
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "env": {
    "mocha": true,
    "node": true
  },
  "ecmaFeatures": {
    "no-unused-expressions": 0,
    "jsx": true
  },
  "globals": {
    "expect": true,
    "browser": true,
    "element": true,
    "By": true,
    "beforeEach": true
  }
}
